<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to "Marley Spoon Recipes", root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
      </li>
    </ul>
  </nav>
</div>
